*{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}
.header{
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    display: flex;
    text-align: right;
    margin: 0px;
    padding: 216px 230px 131px 845px;
}
/* Banner Text */
.banner-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
}
/* Contact us button */
.btn{
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 166px;
}
.btn:hover{
    background-color: rgb(80, 137, 223);
}
.btn:active {
    background-color: rgb(21, 137, 8);
}

/* Section 1 styles*/
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 322px 129px 206px;
}
.image{
    width: 569px;
    height: 723.3px;
}

/* Footer Style */
footer{
    background: #151414;
    display: flex
}
.footer{
    padding: 130px 0px 130px 230px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-description-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 24px;
}
.footer-description-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}
#email{
    background-color: #151414;
    height: 64px;
    width: 325px;
    font-size:18px;
}
.input-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 16px;
}
.icons img{
    margin-right: 18px;
}
/* input form */
.input-form{
    padding: 130px 229px 243px 331px;
}
/* input button */
.input-btn{
    margin-top: 16px;
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    }
.input-btn:hover{
    background-color: rgb(80, 137, 223);
}
.input-btn:active {
    background-color: rgb(21, 137, 8);
    }