*{
    margin: 0px;
}
.banner{
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    display: flex;
    text-align: right;
    margin-bottom: 0px;
    padding: 216px 230px 131px 845px;
}
#phone-img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
}
/* Banner Text */
.banner-title{
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: justify;
}
/* Contact us button */
.btn{
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 166px;
    padding-bottom: 15px;
}
.btn img{
    padding-top: 10px;
}
.btn-txt{
    margin-bottom: 10px;
}
.btn:hover{
    background-color: rgb(80, 137, 223);
}
.btn:active {
    background-color: rgb(21, 137, 8);
}

/* Section 1 styles*/
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 322px 129px 206px;
}
.s1-image{
    /* width: 569px;
    height: 723.3px; */
    padding-right: 87px;
}

.s1-description-container{
    padding-top: 150px;
}
.section-title{
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 47px;
    color: #151414
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    text-align: justify;
    margin-bottom: 16px;
    }
.s1-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* Section 2 styles*/
.section2{
    margin: 0 230px;
}
.s2-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-bottom: 50px;
    margin-top: 130px;
}
.s2-icons{
    /* margin: 0 200px 0 300px; */
}
.s2-icons img{
    margin-right: 55px;
    cursor: pointer;
    margin-left: 105px;
    padding-bottom: 24px;
    
}
.s2-description-container{
    display: flex;
    justify-content: space-around;
}
.info-name{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    justify-content: space-around;
}

.info-value{
        font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
    justify-content: space-around;
}

/* Section 3 styles*/
.section3{
    background-image: url(/images/watch.png),url(/images/gradient1.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    margin: 0;
    margin: 130px 230px;
}
.s3-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 0px 617px 24px 64px;
    padding-top: 59px;
}
.s3-btn{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    margin: 24px 916px 59px 64px;
}
.s3-btn:hover{
    background-color: rgb(80, 137, 223);
}
.s3-btn:active{
    background-color: rgb(21, 137, 8);
}
/* Footer Style */
footer{
    background: #151414;
}
.new-footer{
    display: flex
}
.footer{
    padding: 130px 0px 130px 230px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-description-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: justify;
    margin-bottom: 24px;
}
.footer-description-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}
#email{
    background-color: #151414;
    height: 64px;
    width: 325px;
    font-size:18px;
    color: #F3F3F3;
}
.input-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 16px;
}

.icons img{
    margin-right: 18px;
    cursor: pointer;
    margin-top: 20px;
}
/* input form */
.input-form{
    padding: 130px 229px 243px 331px;
}
/* input button */
.input-btn{
    margin-top: 16px;
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    }
.input-btn:hover{
    background-color: rgb(80, 137, 223);
}
.input-btn:active {
    background-color: rgb(21, 137, 8);
}
.design{
    color:white;
    text-align: center;
    padding-bottom: 10px;
}
